.head-content {
    width: 100%;

}

/* utility style */
.highlight-title {
    color: black;
    font-size: 26px;
}

.highlight-news p {
    color: #888;
    font-size: 13px;
}

/* icons */
.highlight-icons {
    display: flex;
    margin-top: 10px;
}

.highlight-icon {
    display: flex;
    gap: 5px;
    margin-right: 20px;
    line-height: 1rem;
    font-size: 16px;
    color: #fff;
    background-color: rgba(5, 20, 33, 0.35);
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
}



/* 
 */

.highlight-overflow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.highlight-news {
    width: 100%;
}

/* image style */
.highlight-image-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.highlight-image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */