.head-content {
    width: 100%;

}

/* utility style */

.highlight-title {
    color: black;
    font-size: 16px;
}

.link-relatives{
display: none;
}


.highlight-news p {
    color: #888;
    font-size: 13px;
}

/* icons */
.highlight-icons {
    display: flex;
    margin-top: 10px;
}

.highlight-icon {
    display: flex;
    gap: 5px;
    margin-right: 20px;
    line-height: 1rem;
    font-size: 16px;
    color: #fff;
    background-color: rgba(5, 20, 33, 0.35);
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
}

.link-relatives {
    /* display: none; */
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    color: #fff;
    border-radius: 5px;
    padding: 4px 7px 4px 7px;
    font-size: 10px;
    line-height: 1.4rem;
    width: fit-content;
    /* margin-bottom: 25px; */
}

/* 
 */

.highlight-overflow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.highlight-news:first-child{
grid-column: 1 / span 4;
}

.highlight-news {
    width: 100%;
}

/* image style */
.highlight-image-box,
.advertise-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.highlight-image-box img,
.advertise-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nuurnii medee  */
.highlight-news:first-child .highlight-title {
    color: black;
    font-size: 26px;
}

.highlight-news:first-child >.news-container{
display: flex;
flex-direction: row-reverse;
gap: 10px;
}

.highlight-news:first-child>.news-container>.highlight-image-box{
width: 50%;
padding-top: 29%;
}

.highlight-news:first-child>.news-container>.highlight-details {
   width: 50%;
display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0px 20px 0px 20px;
    gap: 10px;
}

.highlight-news:first-child .link-relatives{
display: block;}

/* advertise style */
.advertise-box{
width: 100%;
height: 100%;
}

.advertise-image{
width: 100%;
height: 100%;
}

@media only screen and (max-width: 960px) {

    .highlight-title {
            color: white;
            font-size: 20px;
        }

                .highlight-news:first-child .highlight-title {
                    color: white;
                        font-size: 20px;
                }
    
        .highlight-news:first-child>.news-container {
            display: block;
        }

                 .highlight-news:first-child{
                grid-column: 1 / span 1;
                }

                .highlight-news:first-child>.news-container p{
                display: none;}
    
 
                .highlight-news:first-child>.news-container>.highlight-image-box {
                    width: 100%;
                    padding-top: 0%;
                    height: 100%;
                }


                .highlight-news:first-child>.news-container>.highlight-image-box img {
                    width: 100%;height: 100%;
                }
    
        .highlight-news:first-child>.news-container>.highlight-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            padding: 0px 20px 0px 20px;
            gap: 10px;
        }
    
        /* advertise style */
        .advertise-box {
          display: none;
        }

        /* mobile style all */
.highlight-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .highlight-overflow{
        width: 100%;
        overflow: scroll;
        grid-template-columns: repeat(4, 100%);
    }

         .highlight-news .news-container {
             width: 100%;
             padding-top: 70%;
             border: 5px solid red;
             position: relative;
         }

         .highlight-image-box{
            position: absolute;
            top: 0;
            left: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
        }

        .highlight-image-box img
        {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

        .highlight-details{
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 20%;
        width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            padding: 0px 20px 0px 20px;
            gap: 10px;
        }

        .link-relatives{
        display: block;}

        /* scroll bar style */
        .highlight-scroll-bar{
        width: 100%;
        display: flex;
        }

        .highlight-scroll{
        flex-grow: 1;
        }
}