.gogo-footer {
    padding: 50px 0px 50px 0px;
}

.footer-middle-line {
    border: 1px solid #888;
}


.links {
    /* justify-content: space-between; */
    padding-bottom: 20px;
}

.links .logo {
    width: 200px;
}

.links .logo img {
    width: 100%;
}

.intern-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

.footer-link {
    /* border: 2px solid green; */
    padding: 0px 20px 0px 20px;
}

.copyright {
    justify-content: space-between;
}

@media only screen and (max-width: 650px) {
    .gogo-footer>.links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .intern-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}