.hoverBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 10, 10, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition: all 1s;
    opacity: 0;
}

.highlight-image-box>a:hover .hoverBox {
    opacity: 1;
}

.highlight-image-box>a:hover>img {
    scale: 1.1;
}

/* story hover */

.story-news>a:hover>.story-txt>.story-title>h3 {
    left: 0;
    top: 0;

}

.story-news>a:hover>.story-image-box>img {
    scale: 1.2;
}